@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@650&family=Open+Sans&family=Poppins:wght@350&display=swap');

.horizontal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 20px 10vw 50px 10vw;
}

.vertical-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 20px 5vw 20px 5vw;
}

.title {
  font-size: x-large;
  
}

p {
  margin: 20px 10vw 30px 10vw;
  font-size: 20px;
  line-height: 35px;
}

* {
  font-family: 'Comfortaa', cursive;
}